{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="/">Retour</a>
    <h2 class="page-header">Evenement: {{event.nom}}<h2>
    <ul class="list-group">
        <li class="list-group-item">{{event.debut|date('g:i a, j F, Y')}}</li>
        <li class="list-group-item">{{event.fin|date('g:i a, j F, Y')}}</li>
    </ul>
    <p>
    <p>Lieu: {{event.lieu}}</p><br/>
    <p>Description: {{event.description}}</p><br/>
    <p>Catégorie:{{event.categorie}}</p><br/>
    </p><br/>
    <p>Participants:</p>
    {% for u in event.user %}
        <p>{{ u.username }}</p>
    {% endfor %}
{% endblock %}