{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:addUser{% endblock %}

{% block body %}
    <h1>Welcome to the User:addUser page</h1>
    h2 class="pageheader">Ajout de user</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{ form_row(form.username) }}
    {{ form_row(form.profilePicture) }}

    <button type="submit">Add User !</button>
    {{form_end(form)}}
{% endblock %}
